# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store
oldstuff/
suspect2.tar.gz
/McmcScan/build/
/McmcScan/dist/

/ToyScans/build/
/ToyScans/dist/